xml_schema_derive/tests/complex_type.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexListOfElements">
    <xs:sequence>
      <xs:element name="Annotation" type="xs:string" minOccurs="0"/>
      <xs:element name="Label">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="scope" type="xs:anyURI" use="optional" default="http://example.com#elements"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>